@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow:
      0 0 4px #fff,
      0 0 3px #fff,
      0 0 6px #DFF3E4,
      0 0 7px #DFF3E4,
      0 0 9px #DFF3E4,
      0 0 9px #DFF3E4,
      0 0 11px #DFF3E4;
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

@keyframes flicker2 {
  0%,
  11%,
  15%,
  29%,
  33%,
  100% {
    box-shadow:
      0 0 4px #fff,
      0 0 3px #fff,
      0 0 6px #3423A6,
      0 0 7px #3423A6,
      0 0 9px #3423A6,
      0 0 9px #3423A6,
      0 0 11px #3423A6;
  }

  30%,
  32% {
    box-shadow: none;
  }
}

.flickering2 {
  animation: flicker2 3s infinite alternate;
}

.flickering {
  animation: flicker 3s infinite alternate;
}
