@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    @apply bg-purple;
}

.isActive {
    @apply text-white;
    transition: all 0.3s ease-in-out;
}

.isActive:hover {
    transition: all 0.3s ease-in-out;
    @apply text-blue bg-white;
}
