@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  word-break: break-word;
  margin: 0;
  padding: 0;
}

::selection {
  color: #060918;
  @apply bg-zaffre;
}

.isActive {
  @apply text-white;
  transition: all 0.3s ease-in-out;
}

.isActive:hover {
  transition: all 0.3s ease-in-out;
}
