@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    height: 100%;
    scroll-behavior: smooth;
    word-break: break-word;
    margin: 0;
    padding: 0;
    @apply bg-purple;
}

::selection {
    color: #060918;
    background: #6919FF;
}


.isActive {
    @apply text-white;
    transition: all 0.3s ease-in-out;
}

.isActive:hover {
    transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
    width: 15px;
    height: 8px;
    background-color: #f5f5f5;
}

/* Background color of the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #2E364F;
}

/* Color of the scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #96A1C0;
}

/* On hover, the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
